{{ if .Site.Data.portfolio.enable}}
{{"<!-- Portfolio Section -->" | safeHTML}}
<section class="portfolio section" id="portfolio">
        <div class="row portfolio-items-wrapper">
        </div>
</section>
<section class="section section-bg about-3 padding-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 padding-0">
              {{"<!-- section title -->" | safeHTML}}
              <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                  <h2>{{ .Site.Data.about3.heading}} <span class="color">{{ .Site.Data.about3.headingSpan}}</span> </h2>
                  <div class="border-meghna"></div>
              </div>
          </div>
          {{"<!-- /section title -->" | safeHTML}}
            </div>
            <div class="col-lg-12">
                <div class="content-block">
                    {{with .Site.Data.about3.title}} <h2>{{ . }}</h2> {{ end }}
                    {{with .Site.Data.about3.description}} <p>{{ . }}</p> {{ end }}
                    {{with .Site.Data.about3.description2}} <p>{{ . }}</p> {{ end }}
                    <div class="row">
                        {{ range .Site.Data.about3.aboutItem }}
                        <div class="col-lg-12">
                            <div class="media">
                                <div class="align-self-start mr-3">
                                    {{with .icon}} <i class="{{ . }}"></i> {{ end }}
                                </div>
                                <div class="media-body">
                                    {{with .title}} <h4 class="media-heading">{{ . }}</h4>{{ end }}
                                    {{ with .content}} <p>{{ . }}</p> {{ end }}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{"<!-- /Portfolio -->" | safeHTML}}
{{ end }}
